mixin Project(list)
    ul(class="project-list")
        each item, index in list
            li(class="project col-xs-12 col-sm-6 col-md-4 col-lg-3")
                div(class="project-wrapper")
                    div(class="project-header")
                        div(class="project-logo")
                            img(src= `images/${item.image}`, alt="")
                        a(class="ellipsis-wrapper")
                            i(class="xi-ellipsis-h")
                    h3(class="project-title") #{item.title}
                    ul(class="project-verbose")
                        each verbose_item in item.verbose_items
                            li(class="project-verbose-item") #{verbose_item}
                    div(class="progress-degree")
                        div(class="progress-degree-value", style=`width: ${item.progress_percent}%`)
                        span(class="progress-degree-percent", style=`left: ${item.progress_percent}%`) #{`${item.progress_percent}%`}
                    div(class="project-footer")
                        a(class="updated-date") #{item.updated}
                        ul(class="project-contributors")
                            each contributor_image in item.contributors
                                li(class="contributor-profile")
                                    img(src=`images/profile/${contributor_image}`, alt=contributor_image)
                            //-     li(class="contributor-profile")
                            //-         img(src=`/images/profile/${contributor_image}`, alt=contributor_image)
                    


+Project([
    {
        title: 'Digital Ocean', 
        image: 'digital_ocean.dms', 
        verbose_items: ['Social Media Strategy', 'Social Media Branding'], 
        updated: '3 days left', 
        contributors: ['profile1.jpg', 'profile2.jpg'], 
        progress_percent: 56,

    }, 
    {
        title: 'IBM',
        image: 'IBM.png', 
        verbose_items: ['Branding IBM Lab Company', 'Social Media Strategy', 'Website Concept'], 
        updated: '27.07.2019', 
        contributors: ['profile3.jpg', 'profile4.jpg', 'profile5.jpg'], 
        progress_percent: 82
    }, 
    {
        title: 'Tipit',
        image: 'tipit.png', 
        verbose_items: ['Branding Strategy', 'Social Media Strategy'], 
        updated: '02.09.2019', 
        contributors: ['profile2.jpg', 'profile5.jpg'], 
        progress_percent: 39
    }, 
    {
        title: 'AskNed',
        image: 'askned.png', 
        verbose_items: ['Application Concept', 'Website Concept'], 
        updated: '27.07.2019', 
        contributors: ['profile1.jpg', 'profile6.jpg'], 
        progress_percent: 68
    }, 
    {
        title: 'Space 10',
        image: 'space10.png', 
        verbose_items: ['Space 10 XXX project', 'Social Media Posts'], 
        updated: '27.07.2019', 
        contributors: ['profile4.jpg', 'profile1.jpg', 'profile3.jpg'], 
        progress_percent: 97
    }, 
    {
        title: 'Flash',
        image: 'flash.png', 
        verbose_items: ['Magazine Concept', 'Flyer Concept'], 
        updated: '27.07.2019', 
        contributors: ['profile2.jpg', 'profile4.jpg'], 
        progress_percent: 7
    }, 
    {
        title: 'Chorus',
        image: 'chorus.jpg', 
        verbose_items: ['Social Media Strategy', 'Social Media Branding'], 
        updated: '27.07.2019', 
        contributors: ['profile6.jpg', 'profile5.jpg'], 
        progress_percent: 27
    }, 
])